.header-conteiner {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
}

.header-top {
  background: #10bbd5;
}

.header-top__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header-top__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top__basket {
  display: flex;
  gap: 20px;
}
.header-top__price-nav {
  margin-right: 8px;
  display: inline-block;
  color: #f8fdfe;
  font-size: 16px;
  line-height: 24px; /* 150% */
}
.header-top__basket-img {
  padding-bottom: 6px;
  padding-left: 8px;
  width: 40px;
  height: 42px;
  background-image: url(../img/cart.svg);
  background-size: cover;
  cursor: pointer;
}
.header-top__basket-favorites {
  padding-bottom: 6px;
  padding-left: 2px;
  width: 50px;
  height: 40px;
  background-image: url(../img/heart.svg);
  border: none;
  background-size: cover;
  cursor: pointer;
}

.header-top__basket-home {
  padding-bottom: 6px;
  padding-left: 2px;
  width: 50px;
  height: 40px;
  background-image: url(../img/home.png);
  border: none;
  background-size: cover;
  cursor: pointer;
}

.header-top__number {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 0, 25);
}

.checkbox {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  font-size: 27px;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #cbf900;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
