td {
  width: 230px;
  text-align: center;
}
.bestsellers-content__list-table {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px 20px;
  padding-left: 0;
  padding-bottom: 50px;
}

.bestsellers-content__offers-img {
  cursor: pointer;
}

.bestsellers-content__item-table {
  display: flex;
  gap: 10px;
  border: 1px solid blue;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.bestsellers-content__add-to-basket-table {
  margin: 5px;

  text-align: center;
  padding: 8px 10px;
  border-radius: 4px;
  background-color: #4c394e;
  color: #f8fdfe;
  border: none;

  &:hover {
    background: #744978;
  }
}

.bestsellers-content__add-to-favorit {
  margin: 5px;

  text-align: center;
  padding: 8px 10px;
  border-radius: 4px;
  background-color: #c90237;
  color: #f8fdfe;
  border: none;

  &:hover {
    background: #fa0421;
  }
}

.active-favorites-table {
  background-color: rgb(247, 58, 184);
}

.active-favorites-table:hover {
  background-color: rgb(210, 56, 159);
}

.active-cart {
  background-color: #61bd16;
}
.active-cart:hover {
  background-color: #8be542;
}
