.bestsellers-content__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 20px;
  padding-left: 0;
  padding-bottom: 50px;
}

.bestsellers-content__list2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 20px;
  padding-left: 0;
  padding-bottom: 50px;
}
.bestsellers-content__item {
  width: 285px;
  flex-direction: column;
  display: flex;
  border-radius: 10px;
  list-style: none;
  padding: 0, 20px, 20px, 20px;
  background-color: #fff;
  border: 1px solid #a8a8a8;
  align-items: center;
}
.bestsellers-content__offers {
  width: 100%;
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}
.bestsellers-content__offers2 {
  align-self: flex-end;
}

.bestsellers-content__offers-img {
  cursor: pointer;
}

.bestsellers-content__link-img {
  margin-left: 32px;
  margin-right: 32px;
  width: 178px;
  height: 280px;
}
.bestsellers-content__link-name {
  text-align: center;
  width: 242px;
  overflow: hidden;
  color: #5f2af2;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px; /* 140% */
  margin-top: 16px;
}

.bestsellers-content__price {
  text-align: center;
  margin-top: 8px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: rgb(252, 71, 71);
  &--new {
    color: #e90000;
  }
  &--old {
    color: #8e8e8e;
    text-decoration: line-through;
  }
}
.bestsellers-content__add-to-basket {
  margin-bottom: 16px;
  width: 100%;
  text-align: center;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #4c394e;
  color: #f8fdfe;
  border: none;

  &:hover {
    background: #744978;
  }
}

.active-favorites {
  fill: rgb(230, 19, 19);
}

.active-cart {
  background-color: #61bd16;
}
.active-cart:hover {
  background-color: #8be542;
}
